body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.newElement {
    background: #800000;
    color: white;
}

#items {
    margin-left: auto;
    margin-right: auto;
}

.bmd-layout-container{
    height: 100vh;
}